* {
    font-size: 13px;
}
ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
    font-weight: bold;
}
#admin {
    font-family: SUITE-Regular;
    flex-direction: column;
    min-height: 70vh;
    width: 1200px !important;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    box-sizing: border-box;
}

/* ========== 레이아웃 설정 ========== */
#adminIndex > div {
    width: 1200px !important;
    margin: 0 auto;
}
#adminMenuManagement > div {
    width: 1200px !important;
    margin: 0 auto;
}
#adminMenuList > div {
    width: 1200px !important;
    margin: 0 auto;
}

/* ========== aside menu ========== */
#admin div.col-sm-2 {
    width: 170px !important;
}
.asideMenu, .asideMenu > a {
    font-size: 15px;
}
#admin .todayDate > h2 {
    font-size: 22px;
    font-family: "SUITE-Regular";
    font-weight: bold;
    margin-left: 14px;
    color: dimgray;
}
#admin div > div > div > button > ul {
    display: none;
}
#admin div > div > div > button:hover > ul {
    display: block;
}
#admin div > div > div > button > ul > li {
    padding-top: 6px;
}

/* ========== 메인페이지(adminIndex) ========== */
/* 운영현황(OperationStatus) */
.OperationStatus {
    width: 970px !important;
    height: 200px;
    background-color: #F5F5F5;
}
.OperationStatus > h5 {
    padding: 27px 34px 14px;
    font-weight: bold;
}
.OperationStatus > div {
    width: 115px;
    height: 95px;
    float: left;
    margin: 0 35px;
}
.OperationStatus > div > strong {
    display: block;
    height: 30%;
    text-align: center;
    padding-top: 5px;
    background-color: #DCDCDC;
}
.OperationStatus > div > span {
    height: 70%;
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    background-color: #E6E6E6;
}

/* 매출현황(SalesStatus) */
.SalesStatus {
    width: 970px !important;
    height: 560px;
    margin-top: 15px;
    background-color: #F5F5F5;
}
/* 메뉴 매출현황 그래프 */
.SalesStatus > .menuSalesStatus {
    display: inline-block;
    margin: 30px;
    float: left;
    width: 45%;
    height: 275px;
}
.SalesStatus > .menuSalesStatus > h5 {
    font-weight: bold;
    margin-bottom: 14px;
}

/* 사이드디시 매출현황 그래프 */
.SalesStatus > .sideSalesStatus {
    display: inline-block;
    margin: 30px;
    width: 40%;
    height: 205px;
}
.SalesStatus > .sideSalesStatus > h6 {
    padding-bottom: 10px;
    font-weight: bold;
}

/* 토핑 매출현황 그래프 */
.SalesStatus > .toppingSalesStatus {
    display: inline-block;
    margin: 30px;
    padding-bottom: 20px;
    width: 40%;
    height: 250px;
}
.SalesStatus > .toppingSalesStatus > h6 {
    padding-bottom: 10px;
    font-weight: bold;
}

/* ========== 메뉴목록(adminMenuList) ========== */
#adminMenuList > div > div.col {
    margin-top: 33px;
}
#adminMenuList > div > div.col > select {
    /* 유형선택 */
    display: inline-block;
    width: 150px;
}
#adminMenuList > div > div.col > div.mb-3.input-group {
    width: 200px;
    float: right;
}
#adminMenuList #button-addon2 {
    /* 검색버튼 */
    border: 1px solid #dee2e6;
    background-color: #F5F5F5;
}
#adminMenuList #button-addon2:hover {
    background-color: #dee1e6;
    color: #5c636a;
}
#adminMenuList .adminMenuListTable tr {
    line-height: 25px;
}
#adminMenuList .adminMenuListTable td {
    line-height: 25px;
}
/* paging */
#adminMenuList .paging {
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 80px;
}
#adminMenuList .paging > .num.on > a {
    color: #ff744d;
    font-weight: bold;
}
#adminMenuList .paging > .num > a {
    font-size: 15px;
    margin-left: 20px;
}

/* ========== 메뉴등록 & 수정(adminMenuManagement) ========== */
#adminMenuManagement > div > div.col {
    margin-top: 33px;
}
#adminMenuManagement > div > div.col > select {
    /* 유형선택 */
    width: 150px;
    margin-bottom: 10px;
    font-weight: bold;
}
#adminMenuManagement > div > div.col > div:nth-child(2) {
    /* 메뉴명 필드 */
    width: 350px;
}
#adminMenuManagement #formFile {
    /* 파일첨부 필드 */
    width: 200px;
}
#adminMenuManagement > div > div.col > div:nth-child(4) {
    /* 메뉴설명 필드 */
    width: 350px;
}
#adminMenuManagement > div > div.col > div:nth-child(5) {
    /* 사이즈옵션 필드 */
    width: 200px;
}
#adminMenuManagement > div > div.col > div:nth-child(6) {
    /* 사이즈입력 필드 */
    width: 200px;
}
#adminMenuManagement > div > div.col > div:nth-child(7) {
    /* 맵기옵션 필드 */
    width: 200px;
    float: left;
    margin-right: 15px;
}
#adminMenuManagement > div > div.col > div:nth-child(8) {
    /* 맵기 맛 입력 필드 */
    width: 730px;
}

/* 선택옵션 */
#adminMenuManagement .addOption {
    background-color: #F5F5F5;
    padding: 10px;
    margin-top: 25px;
}
#adminMenuManagement .addOption > p {
    display: inline-block;
    font-weight: bold;
}
#adminMenuManagement .addOption > button {
    width: 22px;
    border: none;
    border-radius: 20px;
    background-color: #dcdbdb;
    font-weight: bold;
    color: white;
    float: right;
    margin-left: 2px;
}
#adminMenuManagement > div > div.col > button {
    /* 최종등록 버튼 */
    height: 55px;
    font-size: 15px;
    display: block;
    margin: 40px auto;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
}
#adminMenuManagement > div > div.col > button:hover {
    background-color: #c9c8c8;
    color: white;
}

/* 중분류 */
#adminMenuManagement .classification {
    background-color: #ececec;
    padding: 10px;
}
#adminMenuManagement > div > div.col > article > div > div:nth-child(2) {
    /* 소분류 개수 input필드 */
    width: 200px;
}
#adminMenuManagement .classification > .subcate > .formFile {
    /* 소분류 파일첨부 */
    width: 200px;
    float: left;
    margin-right: 7px;
}
#adminMenuManagement .classification > .subcate > .inputSubcate {
    /* 소분류 input필드 */
    width: 300px;
}