/* a 태그 밑줄과 색 초기화 */
.reset-a {
    text-decoration: none;
    color : black;
}

/* width % 옵션 */
.w50p {
    width : 50% !important !important;
}

.w45p {
    width : 45% !important !important;
}

.w40p {
    width : 40% !important;
}

.w35p {
    width : 35% !important;
}

.w30p {
    width : 30% !important;
}

.w25p {
    width: 25% !important;
}

.w20p {
    width: 20% !important;
}

.w15p {
    width: 15% !important;
}

.w10p {
    width: 10% !important;
}

.w5p {
    width: 5% !important;
}

/*padding-top*/
.pt50px {
   padding-top: 50px;
}

/* 오른쪽 위치로 고정 */
.margin-left-auto {
    margin-left : auto !important;
}

/* flex 자식요소들 가운데 정렬 */
.flex-content-center {
    justify-content: center;
}