
.w50p {
    width : 50%;
}

.w45p {
    width : 45%;
}

.w40p {
    width : 40%;
}

.w35p {
    width : 35%;
}

.w30p {
    width : 30%;
}

.w25p {
    width: 25%;
}

.w20p {
    width: 20%;
}

.w15p {
    width: 15%;
}

.w10p {
    width: 10%;
}

.w5p {
    width: 5%;
}

.margin-left-auto {
    margin-left : auto;
}