ul,li,ol {
    list-style: none;
}
#mainHeader a {
    text-decoration: none;
    color: #111;
    font-family: SUITE-Regular;
    font-size: 18px;
}
#mainHeader .nav {
    --bs-link-color: white;
    --bs-nav-link-color: var(--bs-link-color);
}
#mainHeader .nav-link:hover {
    color: #A21A24 !important;
}
#mainHeader > div > a > div {
    width:440px;
    height:160px;
    position:relative;
    margin:0 auto;
}
#mainHeader > div{
    position:relative;
}
#mainHeader > div > nav {
    position:absolute;
    right:200px;
    top:25%;
}
#basic-navbar-nav{
    display:inline-block;
}
#mainHeader > div > a > div > img.logo{
    width:400px;
    position:absolute;
    top:45px;
}
#mainHeader > div > a > div > img.character{
    width: 130px;
    position: absolute;
    top: 0px;
    right: 5px;
}
#mainHeader > ul{
    background-color: #FF5B2D;
    border-bottom: 1px solid white;
}
#mainHeader > ul > li {
    padding-left:80px;
    padding-right:80px;
    border-right: 4px solid white;
}
#mainHeader > ul > li:nth-child(1) {
    border-left: 4px solid white;
}