.menuList {
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    box-sizing: border-box;
    text-align: center;
}

.menuList .nav-item {
    flex: 1;
}

.menuList .nav-item > button{
    width: 100%;
}

.tabMenuList {
    width: 100%;
    height: auto;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.tabMenuList > .item-card {
    float: left;
    margin-right: 15px;
    margin-top: 15px;
}

.menuPrice {
    text-align: right;
}