.menuCart {
    width: 1000px;
    height: auto;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    box-sizing: border-box;
    position: relative;
}

.cartArea {
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
}

.cartInfoTable {
    text-align: center;
    vertical-align: middle;
}

.cartText {
    margin-bottom: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
}

.cartHeader > .check {
    width: 5%;
}

.cartHeader > .name {
    width: 35%;
}

.cartHeader > .price {
    width: 12%;
}

.cartHeader > .count {
    width: 12%;
}

.cartHeader > .delivery {
    width: 12%;
}

.cartInfoTable .total {
    color: red;
}

.cartItemInfo {
    text-align: left;
}

.cartThumb {
    width: 100px;
    height: 100px;
}

.cartItemInfo > p {
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
}

.cartItemInfo > p > span {
    font-size: 18px;
    font-weight: bold;
}

.cartOrderArea {
    width: 35%;
    margin-left: auto;
}

.cartOrderText {
    font-weight: bold;
}

.cartOrderForm {
    width: 100%;
    height: auto;
    background-color: #e9e9e9;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.cartOrderButton {
    padding: 20px 90px;
}

.cartOrderTable {

}

.cartOrderTable td {
    width: 50%;
    border: none;
    background-color: unset;
}

.cartOrderTable tr td:nth-child(1) {
    text-align: left;
}

.cartOrderTable tr td:nth-child(2) {
    text-align: right;
}