<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lomDDeock.mapper.menu.MenuMapper">
    <select id="selectMenues" resultType="lomDDeock.dto.menu.MenuDTO">
        SELECT * FROM `menu` WHERE `deleteYN` = 'y';
    </select>
    <select id="selectSides" resultType="lomDDeock.dto.menu.SideDTO">
        SELECT * FROM `menu_side_drink` WHERE `deleteYN` = 'Y';
    </select>
</mapper>