<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lomDDeock.mapper.cs.CsMapper">


    <select id="selectCountCs">
        SELECT COUNT(*) FROM `cs` a
        <include refid="sortBox"/>
    </select>

    <select id="selectCss" resultType="lomDDeock.dto.cs.CsDTO">
        SELECT * FROM `cs` a
        JOIN `cs_cate` AS b ON a.cate = b.cateNo
        <include refid="sortBox"/>
        ORDER BY a.cno DESC
        LIMIT #{start},10
    </select>
    <sql id="sortBox">
        <choose>
            <!-- 자주묻는질문, 문의내역 -->
            <when test="cate >= 10">
                WHERE a.`cate`=#{cate} AND a.`group` IN ('faq', 'qna')
            </when>
            <when test="cate == null or cate == 0">
                WHERE a.`cate` > 0 AND a.`group` IN ('faq', 'qna')
            </when>
        </choose>
    </sql>
</mapper>