<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lomDDeock.mapper.cs.CsMapper">


    <select id="selectCountCs">
        SELECT COUNT(*) FROM `cs` a
        <include refid="sortBox"/>
    </select>

    <select id="selectCss" resultType="lomDDeock.dto.cs.CsDTO">
        SELECT * FROM `cs` a
        JOIN `cs_cate` AS b ON a.cate = b.cateNo
        <include refid="sortBox"/>
        ORDER BY a.cno DESC
        LIMIT #{start},10
    </select>
    <sql id="sortBox">
        <choose>
            <!-- 자주묻는질문, 문의내역 -->
            <when test="cate >= 10">
                WHERE a.`cate`=#{cate} AND a.`group`='faq'
            </when>
            <when test="cate == null or cate == 0">
                WHERE a.`cate` > 0 AND a.`group`='faq'
            </when>
        </choose>
    </sql>


    <select id="getMyQnaListTotal" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `cs`
        WHERE `registant` = #{email}
        <if test="cateNo != '' and cateNo != null and cateNo != 0">
            AND `cate` = #{cateNo}
        </if>
    </select>
    <select id="getMyQnaList" resultType="lomDDeock.dto.cs.CsDTO">
        SELECT a.`cno` AS cno,
        a.`group` AS `group`,
        a.`cate` AS cate,
        a.`title` AS title,
        a.`content` AS content,
        a.`registant` AS registant,
        a.`regip` AS regip,
        a.`rdate` AS rdate,
        a.`beginDate` AS beginDate,
        a.`period` AS period,
        a.`status` AS status,
        b.`cateName` AS cateName
        FROM `cs` AS a
        LEFT OUTER JOIN `cs_cate` AS b ON a.`cate` = b.`cateNo`
        WHERE a.`registant` = #{email}
        <if test="cateNo != '' and cateNo != null and cateNo != 0">
            AND a.`cate` = #{cateNo}
        </if>
        LIMIT #{pg}, 10
    </select>
    <select id="getNoticeListTotal" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `cs`
        WHERE 1 = 1
        AND `group` = 'notice'
    </select>
    <select id="getNoticeList" resultType="lomDDeock.dto.cs.CsDTO">
        SELECT a.`cno` AS cno,
        a.`group` AS `group`,
        a.`cate` AS cate,
        a.`title` AS title,
        a.`content` AS content,
        a.`registant` AS registant,
        a.`regip` AS regip,
        a.`rdate` AS rdate,
        a.`beginDate` AS beginDate,
        a.`period` AS period,
        a.`status` AS status
        FROM `cs` AS a
        WHERE 1 = 1
        AND a.`group` = 'notice'
        LIMIT #{pg}, 10
    </select>
    <select id="getFaqListTotal" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM `cs`
        WHERE 1 = 1
        AND `group` = 'faq'
    </select>
    <select id="getFaqList" resultType="lomDDeock.dto.cs.CsDTO">
        SELECT a.`cno` AS cno,
        a.`group` AS `group`,
        a.`cate` AS cate,
        a.`title` AS title,
        a.`content` AS content,
        a.`registant` AS registant,
        a.`regip` AS regip,
        a.`rdate` AS rdate,
        a.`beginDate` AS beginDate,
        a.`period` AS period,
        a.`status` AS status
        FROM `cs` AS a
        WHERE 1 = 1
        AND a.`group` = 'faq'
        LIMIT #{pg}, 10
    </select>
    <select id="getQnaCate" resultType="lomDDeock.dto.cs.CsCateDTO">
        SELECT a.`cateNo` AS cateNo,
        a.`cateName` AS cateName
        FROM `cs_cate` AS a
    </select>
    <select id="getQnaView" resultType="lomDDeock.dto.cs.CsDTO">
        SELECT a.`cno` AS cno,
        a.`group` AS `group`,
        a.`cate` AS cate,
        a.`title` AS title,
        a.`content` AS content,
        a.`registant` AS registant,
        a.`regip` AS regip,
        a.`rdate` AS rdate,
        a.`beginDate` AS beginDate,
        a.`period` AS period,
        a.`status` AS status,
        b.`cateName` AS cateName
        FROM `cs` AS a
        LEFT OUTER JOIN `cs_cate` AS b ON a.`cate` = b.`cateNo`
        WHERE a.`cno` = ${cno}
    </select>
</mapper>