.main {
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    box-sizing: border-box;
    text-align: center;
}
.banner > img {
    width: 985px;
}
.subMenu {
    width: 985px;
    background-color: #FF5B2D;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.subMenu .nav-item {
    flex: 1;
}
.subMenu .nav {
    --bs-link-color: white;
    --bs-nav-link-color: var(--bs-link-color);
}
.subMenu .nav-link:hover {
    color: #A21A24 !important;
}

.subMenu .nav-item:not(:last-child) {
    border-right: 1px solid #e9e9e9;
}

.hit {
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: left;
    position: relative;
    overflow: hidden;
}

.description {
    width: 100%;
    margin-bottom: 10px;
}

.hit-item {
    width: 400px;
    height: 200px;
    margin-right: 70px;
    float: left;
    position: relative;
}

.thumb {
    float: left;
    width: 150px;
    height: 150px;
}

.item-info {
    float: left;
    margin-left: 10px;
    width: 240px;
    height: 150px;
    position: relative;
}

.item-name {
    position: absolute;
    top: 5px;
    left: 5px;
}

.item-etc {
    position: absolute;
    top: 30px;
    left: 5px;
}

.item-price {
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 0;
}